[user]
	email = 40375132+drakejwong@users.noreply.github.com
	name = Drake Wong
[core]
	pager = "less -MR"
[alias]
	a = "add"
  b = "branch"
	c = "commit"
	co = "checkout"
	d = "diff"
	ds = "diff --staged"
  f = "sync"
  l = "pull"
  lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --color=always"
  m = "merge"
  mm = ! "git fetch --all --prune && git merge origin/main"
  rb = "rebase"
  s = "status"
  st = "stash"
  sync = ! "git fetch --all --prune && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
  new = "checkout -b"
  push = "push -u origin HEAD"
[maintenance]
	repo = /Users/drakewong/.config/zsh/powerlevel10k
	repo = /Users/drakewong/.config/zsh/znap
	repo = /Users/drakewong/.config/zsh/zsh-autosuggestions
	repo = /Users/drakewong/.config/zsh/zsh-completions
	repo = /Users/drakewong/.config/zsh/zsh-history-substring-search
	repo = /Users/drakewong/.config/zsh/zsh-syntax-highlighting
	repo = /Users/drakewong/.config/zsh/znap/.git
	repo = /Users/drakewong/.config/zsh/znap/powerlevel10k
	repo = /Users/drakewong/.config/zsh/znap/zsh-autosuggestions
	repo = /Users/drakewong/.config/zsh/znap/zsh-completions
	repo = /Users/drakewong/.config/zsh/znap/zsh-history-substring-search
	repo = /Users/drakewong/.config/zsh/znap/zsh-syntax-highlighting
	repo = /home/drake/.config/zsh/powerlevel10k
	repo = /home/drake/.config/zsh/znap
	repo = /home/drake/.config/zsh/zsh-autosuggestions
	repo = /home/drake/.config/zsh/zsh-completions
	repo = /home/drake/.config/zsh/zsh-history-substring-search
	repo = /home/drake/.config/zsh/zsh-syntax-highlighting
	repo = /home/drake/.config/zsh/zsh-z
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[checkout]
  defaultRemote = origin
