keybinds {
    shared_except "locked" {
        unbind "Alt h" "Alt j" "Alt k" "Alt l"
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocus "Right"; }
        bind "Ctrl Shift [" { GoToPreviousTab; }
        bind "Ctrl Shift ]" { GoToNextTab; }
    }
}

copy_on_select false
show_startup_tips false
theme "tokyo-night"
